@model IEnumerable<Pharma263.MVC.Models.SalesByProductReportViewModel>
@using System.Globalization;
<style>
    /* Define CSS styles for the table and table cells */
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px; /* Adjust the padding as needed */
        text-align: left;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2; /* Alternate row background color */
    }

    /* Additional styling as needed */
</style>

<h2>Sales by Product Report</h2>

<table>
    <tr><th>Medicine Name</th><th>Total Sales</th><th>Total Transactions</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MedicineName</td>
            <td>@item.TotalSales.ToString("### ###0.00", CultureInfo.InvariantCulture)</td>
            <td>@item.TotalTransactions</td>
        </tr>
    }
</table>
