@{
    ViewBag.Title = "Supplier List";
}

<div class="wraper container-fluid">
    <div class="page-title">
        <a href="@Url.Action("AddSupplier", "Supplier")" class="btn btn-primary pull-left">Add Supplier </a>
        <br />
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Supplier List</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-hover" id="suppliersDataTable">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts {
    <link rel="stylesheet" href="~/Content/adminFront/assets/plugins/datatables/jquery.dataTables.min.css">
    <script src="~/Content/adminFront/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#suppliersDataTable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "@Url.Action("GetSuppliersDataTable", "Supplier")",
                    "type": "POST",
                    "contentType": "application/json",
                    "data": function (d) {
                        return JSON.stringify(d);
                    },
                    "dataSrc": function (json) {
                        if (json.error) {
                            console.error('DataTable Error:', json.error);
                            toastr.error('Failed to load suppliers: ' + json.error);
                        }
                        return json.data;
                    }
                },
                "columns": [
                    { "data": "name" },
                    { "data": "email" },
                    { "data": "phone" },
                    {
                        "data": null,
                        "orderable": false,
                        "render": function (data, type, row) {
                            var editUrl = '@Url.Action("EditSupplier", "Supplier")' + '?supplierId=' + row.id;
                            var deleteUrl = '@Url.Action("DeleteSupplier", "Supplier")' + '?supplierId=' + row.id;
                            return '<a href="' + editUrl + '" class="btn btn-icon btn-warning btn-xs m-b-5">' +
                                   '<i class="fa fa-edit"></i></a> ' +
                                   '<a href="' + deleteUrl + '" onclick="return confirm(\'Are you sure you want to Remove this supplier?\')" class="btn btn-icon btn-danger btn-xs m-b-5">' +
                                   '<i class="fa fa-remove"></i></a>';
                        }
                    }
                ],
                "pageLength": 25,
                "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "language": {
                    "searchPlaceholder": "Search suppliers...",
                    "processing": '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span>',
                    "emptyTable": "No suppliers found",
                    "zeroRecords": "No matching suppliers found"
                }
            });
        });
    </script>
}
